
header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.logo {
    height: 2rem;
    width: 7rem;
}
nav a {
    margin: 1.2rem;
    text-decoration: none;
}
.second-container {
    display: flex;
}
.left-content{
    padding: 5rem 0 0 2rem;
    line-height: 3rem;
}
.left-content h3{
    color: #1063CF;
    font-size: 1.4rem;
}
.left-content h1{
    color: #1063CF;
    font-size: 4rem;
}
.left-content h2{
    color: #1063CF;
    font-size: 2rem;
    font-weight: lighter;
}
.left-content p{
    font-size: 1.2rem;
}
/* .left-content Button {
    text-align: center;
} */
.image1 {
    height: 35rem;
    width: 50rem;
}


/* Middle content */
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box1 {
    width: 15.5%;
    height: 200px;
    background: #1063CF;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.middle-content .boxes .box2 {
    width: 15.5%;
    height: 200px;
    background: #1063CF;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.middle-content .boxes .box3 {
    width: 15.5%;
    height: 200px;
    background: #1063CF;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.middle-content .boxes .box4 {
    width: 15.5%;
    height: 200px;
    background: #1063CF;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
/* Middle content */