
header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.logo {
    height: 2rem;
    width: 7rem;
}
nav a {
    margin: 1.2rem;
    text-decoration: none;
}
.image1 {
    height: 55rem;
    width: 55rem;
}
